{{>header}}

<body>
    <main class="login-page pt-5 ">
        <div class="container">
            <div class="row">
                <!-- login -->
                <div class="col-xxl-4 col-lg-5 text-center login mx-auto">
                    <div class="card">
                        <div class="bg-primary w-100 login-image-div">
                            <h3 class="text-white" style="margin-top: -5px;">Reset Your Password</h3>
                        </div>
                        {{#if reset}}
                        <div class="px-3 my-3">
                            <form action="/reset-password" method="post" id="login-form">
                                {{#if msg}}
                                <p class="fs-16 text-danger">{{msg}}</p>
                                {{/if}}
                                <span class="float-start mb-2">Please enter new password for your account.</span>
                                <label class="float-start" for="password">Password</label>
                                <input type="password" id="password" class="form-control shadow-none mb-3" required
                                    name="password" placeholder="Password">
                                <label class="float-start" for="cpassword">Confirm Password</label>
                                <input type="password" id="cpassword" class="form-control shadow-none mb-3" required
                                    name="cPassword" placeholder="Confirm Password">
                                <input type="hidden" name="email" value="{{email}}">
                                <button type="submit"
                                    class="btn btn-primary border-0 px-3 rounded-2 fw-semibold fs-5">Reset
                                    Password</button>
                            </form>
                        </div>
                        {{else}}
                        <div class="px-3 my-3">
                            <form action="/forgot-password" method="post" id="login-form">
                                {{#if msg}}
                                <p class="fs-16 text-{{type}}">{{msg}}</p>
                                {{/if}}
                                <label class="float-start" for="email">Email</label>
                                <input type="email" id="email" class="form-control shadow-none mb-3" required
                                    name="email" placeholder="Email">
                                <button type="submit"
                                    class="btn btn-primary border-0 px-3 rounded-2 fw-semibold fs-5 mb-2">Send Reset
                                    Link</button>
                            </form>
                            <span>
                                Already a member? <a href="/login" class="link-primary">Login</a>
                            </span>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{!--for form validaitons --}}
    <script src="./js/form-validations.js"></script>
    {{>footer}}