{{>header}}

<body>
    <main class="login-page pt-5 ">
        <div class="container">
            <div class="row">
                <!-- Order Detail -->
                <div class="col-xxl-6 col-lg-7 text-center login mx-auto">
                    <div class="card">
                        <div class="bg-primary w-100 login-image-div">
                            <h3 class="text-white" style="margin-top: -5px;">User Details</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-start">Name</th>
                                        <th class="text-end">{{user.name}}</th>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Email</td>
                                        <td class="text-end">{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Driver License / CA ID Number</td>
                                        <td class="text-end">{{user.personal_id}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Phone</td>
                                        <td class="text-end">{{user.phone}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="mt-5">Order Summary</h3>
                            <table class="table table-borderless mt-4">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-start">User</th>
                                        <th class="text-end">{{user.package.name}}</th>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Package Subtotal</td>
                                        <td class="text-end">${{user.package.price}}</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Order Discounts</td>
                                        <td class="text-danger text-end">-$0</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Taxes</td>
                                        <td class="text-end">{{user.package.tax}}%</td>
                                    </tr>
                                    <tr class="border-top">
                                        <th scope="row" class="text-start">Estimated Total</th>
                                        <th class="text-end">${{user.total}}</th>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-success" id="stripe-payment"><i class="fa-solid fa-credit-card"></i>
                                Card</button>
                            <a class="btn btn-paypal text-white" href="/paypal?user={{user._id}}"><i class="fa-brands fa-cc-paypal"></i> PayPal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        //Passing to the strip.js file form hbs data
        const user = `{{{user._id}}}`
    </script>
    <script src="/js/stripe.js"></script>