{{>header}}

<body>
    <main class="login-page pt-5 ">
        <div class="container">
            <div class="row">
                <!-- Package Detail -->
                <div class="col-xxl-4 col-lg-5 text-center login">
                    <div class="card">
                        <div class="bg-primary w-100 login-image-div">
                            <h3 class="text-white" style="margin-top: -5px;">Order Summary</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="text-start">{{#if
                                            user.package}}Package{{else}}Course{{/if}}</th>
                                        <th class="text-end">
                                            {{#if
                                            user.package}}{{user.package.name}}{{else}}{{user.courses.[0].name}}{{/if}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">
                                            {{#if user.package}}Package{{else}}Course{{/if}}
                                            Subtotal
                                        </td>
                                        <td class="text-end">
                                            ${{#if user.package}}{{user.package.price}}{{else}}
                                            {{user.courses.[0].price}}{{/if}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Order Discounts</td>
                                        <td class="text-danger text-end">-$0</td>
                                    </tr>
                                    <tr>
                                        <td scope="row" class="text-start">Taxes</td>
                                        <td class="text-end">
                                            {{#if user.package}}
                                            {{user.package.tax}}%
                                            {{else}}0%
                                            {{/if}}
                                        </td>
                                    </tr>
                                    <tr class="border-top">
                                        <th scope="row" class="text-start">Estimated Total</th>
                                        <th class="text-end">
                                            ${{#if user.package}}{{user.total}}{{else}}
                                            {{user.courses.[0].price}}{{/if}}
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Register -->
                <div class="col-lg-7 my-3 my-lg-0 offset-xxl-1 text-center register">
                    <div class="card pt-5 bg-primary text-white">
                        <div class="row">
                            <h3>Email Verification</h3>
                            <div class="my-3">
                                <img width="200" src="/images/icons/email-verification-icon.png" class="img-fluid"
                                    alt="">
                            </div>
                            <div>
                                <p class="mx-auto w-50 fs-18" style="font-weight: 300;">We have send 4 digits code via
                                    your email. Please
                                    check your email. The code will be expired in <b class="text-danger">10
                                        minutes</b>.<br><span style="color: var(--btn-primary);">{{user.email}}</span>
                                </p>
                            </div>
                            {{!-- form --}}
                            <div class="bg-white w-50 mx-auto py-5  rounded-8">
                                <form action="/verifying" method="post" id="verification_form">
                                    <div class="row justify-content-center mb-3">
                                        <input type="hidden" value="{{user._id}}" name="userID">
                                        <input type="number" required id="val1" name="val1" max="9" min="0"
                                            class="form-control verify-input border-0 shadow-none p-2">
                                        <input type="number" required id="val2" name="val2" max="9" min="0"
                                            class="form-control verify-input border-0 shadow-none p-2">
                                        <input type="number" required id="val3" name="val3" max="9" min="0"
                                            class="form-control verify-input border-0 shadow-none p-2">
                                        <input type="number" required id="val4" name="val4" max="9" min="0"
                                            class="form-control verify-input border-0 shadow-none p-2">
                                    </div>
                                    <button class="btn btn-success btn-verify px-3 py-2" type="submit">Verify!</button>
                                    {{#if sent}}
                                    <p class="mb-0 mt-3 text-success fs-16">Verification code sent successfully.</p>
                                    {{/if}}
                                    {{#if err}}
                                    <p class="mb-0 mt-3 text-danger fs-16">{{err}}</p>
                                    {{/if}}
                                </form>
                            </div>
                            {{!-- endform --}}
                            {{!-- didn't recieve --}}
                            <p class="fs-18 mt-3" style="font-weight: 300;">Didn't receive code?<br><a
                                    href="/resend?email={{user.email}}" class=" resend-code">Resend
                                    Code!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{!--for form validaitons --}}
    <script src="./js/form-validations.js"></script>
    {{!-- verification form --}}
    <script>

        const inputs = document.querySelectorAll(".verify-input")
        inputs.forEach((input, index) => {
            input.dataset.index = index
            input.addEventListener("keyup", handleOtp)
            input.addEventListener('paste', handleOnPasteOtp)
        })

        //handle otp

        function handleOtp(e) {
            const input = e.target
            let value = input.value
            input.value = ""
            input.value = value ? value[0] : ""
            let fieldIndex = input.dataset.index
            if (value.length > 0 && fieldIndex < inputs.length - 1) {
                input.nextElementSibling.focus()
            }
            if (e.key == "Backspace" && fieldIndex > 0) {
                input.previousElementSibling.focus()
            }
        }

        // if otp is paste

        function handleOnPasteOtp(e) {
            const data = e.clipboardData.getData('text')
            const value = data.split("")
            if (value.length === inputs.length) {
                inputs.forEach((input, index) => (input.value = value[index]))
            }
        }
/*
                                                                                                        //jquery to send next
                                                                                                         $(document).ready(function(){
                                                                                                                    $('.verify-input').keyup(function(e){
                                                                                                                        const input = e.target
                                                                                                                        let value = input.value
                                                                                                                        //input.value = ""
                                                                                                                        input.value = value ? value[0] : ""
                                                                                                                        if(value.length >= 1){
                                                                                                                           $(input).next().focus()
                                                                                                                        }
                                                                                                                        if(e.key == "Backspace"){
                                                                                                                            if(value.length < 1){
                                                                                                                                $(input).prev().focus()
                                                                                                                            }
                                                                                                                        }
                                                                                                                    })
                                                                                                                })
                                                                                                        */
    </script>
    {{>footer}}