<aside
  class="main-sidebar {{#if salesperson}}sidebar-dark-orange{{else}}sidebar-dark-primary{{/if}} elevation-4 d-flex flex-column overflow-hidden">
  <!-- Brand Logo -->
  <a href="/dashboard" class="brand-link">
    <img src="{{site_logo}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">{{site_Title}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar flex-grow-1">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        {{#if user.avatar}}
        <img src="data:image/jpg;base64,{{user.avatar}}" class="img-circle elevation-2" alt="User Image">
        {{else}}
        <img src="https://ui-avatars.com/api/?name={{user.name}}&rounded=true" class="img-circle elevation-2"
          alt="User Image">
        {{/if}}
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.name}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column {{#if salesperson}}nav-child-indent{{/if}}"
        data-widget="treeview" role="menu" data-accordion="false">
        <!-- dashboard -->
        <li class="nav-item">
          <a href="/dashboard{{#if salesperson}}/salesperson{{/if}}" id='dashboard-link' class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        {{#if salesperson}}
        {{>salesperson/mainSidebar}}
        <li class="nav-item">
          <a href="/dashboard/" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-solid fa-home nav-icon"></i>
            <p>Real Estate</p>
          </a>
        </li>
        {{else}}
        {{!-- for student --}}
        {{#ifEquals user.role "student"}}
        <li class="nav-item">
          <a href="/dashboard/courses" id="courses" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="nav-icon fas fa-book"></i>
            <p>Courses</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard/contact-us" id="contact-us-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-solid fa-id-card-clip nav-icon"></i>
            <p>Contact Us</p>
          </a>
        </li>
        {{!-- Setting --}}
        <li class="nav-item">
          <a href="/dashboard/setting" id="setting-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-sharp fa-solid fa-gear nav-icon"></i>
            <p>Settings</p>
          </a>
        </li>
        {{!-- salesperson --}}
        <li class="nav-item">
          <a href="/dashboard/salesperson" id="sort-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-solid fa-cloud nav-icon"></i>
            <p>Salesperson</p>
          </a>
        </li>
        {{/ifEquals}}
        {{!-- for admin --}}
        {{#ifEquals user.role "admin"}}
        <!-- Package -->
        <li class="nav-item">
          <a href="#" id="package-link" class="nav-link">
            <i class="nav-icon fas fa-money-check-alt"></i>
            <p>
              Packages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-package" id="package-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Package</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/package-detail" id="package-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Package Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- courses --}}
        <li class="nav-item">
          <a href="#" id="course-link" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Courses
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-course" id="course-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Course</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/course-detail" id="course-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Courses Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- Chapters --}}
        <li class="nav-item">
          <a href="#" id="chapter-link" class="nav-link">
            <i class="nav-icon fas fa-pen"></i>
            <p>
              Chapters
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-chapter" id="chapter-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Chapter</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/chapter-detail" id="chapter-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Chapters Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- Quiz --}}
        <li class="nav-item">
          <a href="#" id="quiz-link" class="nav-link">
            <i class="nav-icon fas fa-broom-ball"></i>
            <p>
              Quizzes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-quiz" id="quiz-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Quiz</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/quiz-detail" id="quiz-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quizzes Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- salesperson --}}
        <li class="nav-item">
          <a href="/dashboard/salesperson" id="sort-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-solid fa-cloud nav-icon"></i>
            <p>Salesperson</p>
          </a>
        </li>
        {{!-- sort --}}
        <li class="nav-item">
          <a href="/dashboard/sort" id="sort-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-sharp fa-solid fa-sort nav-icon"></i>
            <p>Sort</p>
          </a>
        </li>
        {{!-- coupons or vouchers --}}
        <li class="nav-item">
          <a href="#" id="voucher-link" class="nav-link">
            <i class="nav-icon fas fa-gift"></i>
            <p>
              Coupons
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-coupon" id="voucher-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Coupon</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/coupon-detail" id="voucher-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Coupons Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- users --}}
        {{!-- users --}}
        <li class="nav-item">
          <a href="#" id="users-link" class="nav-link">
            <i class="fa-solid fa-users nav-icon"></i>
            <p>
              Users
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-user" id="users-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add User</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/users" id="users-all-link" class="nav-link">
                {{!-- <i class="far fa-circle nav-icon"></i> --}}
                <i class="far fa-circle nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- Orders --}}
        <li class="nav-item">
          <a href="/dashboard/order" id="order-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-sharp fa-solid fa-file-invoice-dollar nav-icon"></i>
            <p>Orders</p>
          </a>
        </li>
        {{!-- message --}}
        <li class="nav-item">
          <a href="/dashboard/messages" id="messages-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="far fa-envelope nav-icon"></i>
            <p>Messages
              {{#if unreadMsg}}
              <span class="badge badge-info right">{{unreadMsg}}</span>
              {{/if}}
            </p>
          </a>
        </li>
        {{!-- Setting --}}
        <li class="nav-item">
          <a href="/dashboard/setting" id="setting-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-sharp fa-solid fa-gear nav-icon"></i>
            <p>Settings</p>
          </a>
        </li>


        {{/ifEquals}}


        {{!-- for regulator --}}
        {{#ifEquals user.role "regulator"}}
        <!-- Package -->
        <li class="nav-item">
          <a href="/dashboard/courses" id="courses" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="nav-icon fas fa-book"></i>
            <p>Courses</p>
          </a>
        </li>
        {{/ifEquals}}
        {{/if}}<!--salesperson-->
      </ul>
    </nav>
  </div>
  <div class="sidebar" style="margin-bottom:10px">
    <nav>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/logout" id="logout" class="nav-link bg-danger">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p class="text-capitalize">
              {{#if user.loginAsStudent}}Logout As {{user.role}}{{else}} Logout{{/if}}
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /.sidebar-menu -->
  <!-- /.sidebar -->
</aside>