{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<style>
    .chapter-container {
        height: 86vh;
        overflow: hidden;
        position: relative;
    }

    .chapter-container .table tr td {
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }

    @media screen and (max-width:991px) {
        .chapter-container {
            height: auto;
        }
    }

    .chapter-container .chapter-left {
        height: 100%;
    }

    .chapter-container .chapter-left .chapter-body {
        overflow: hidden scroll;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-lg-auto mb-2 h-100 pb-2">
                            <div class="card h-100 mb-0">
                                <div class="card-header border-bottom-0">
                                    <h3 class="card-title text-bold text-capitalize">Course Contents</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <tbody>
                                            {{!-- regulator --}}
                                            {{#ifEquals user.role "regulator"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr>
                                                <td><a
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{../courseId}}/{{this._id}}{{else}}/dashboard/view-quiz/{{../courseId}}/{{this._id}}{{/ifEquals}}">
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>
                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{else}}
                                                    {{#ifEquals this.type 'final'}}
                                                    <span class="badge badge-danger">{{../timeForExam.final}}
                                                        Minutes</span>
                                                    <span class="badge badge-success">Final</span>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.type 'mid'}}
                                                    <span class="badge badge-danger">{{../timeForExam.mid}}
                                                        Minutes</span>
                                                    <span class="badge badge-success">Mid</span>
                                                    {{/ifEquals}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            {{/ifEquals}}


                                            {{!-- guest --}}
                                            {{#ifEquals user.role "guest"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr {{#unless this.unlock}}class="bg-lock" data-toggle="modal"
                                                data-target="#modal-default" {{/unless}}>
                                                <td><a {{#if this.unlock}}
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{../courseId}}/{{this._id}}{{else}}/dashboard/view-quiz/{{../courseId}}/{{this._id}}{{/ifEquals}}"
                                                        {{else}} href="#" {{/if}}>
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>

                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{#if this.completed}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/if}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{else}}
                                                    {{#ifEquals this.type 'final'}}
                                                    <span class="badge badge-danger">{{../timeForExam.final}}
                                                        Minutes</span>
                                                    <span class="badge badge-success">Final</span>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.type 'mid'}}
                                                    <span class="badge badge-danger">{{../timeForExam.mid}}
                                                        Minutes</span>
                                                    <span class="badge badge-success">Mid</span>
                                                    {{/ifEquals}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{#ifEquals this.grade "passed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.grade "failed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-xmark float-right text-danger"></i>
                                                    {{/ifEquals}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            <div class="modal fade courseModal" id="modal-default"
                                                style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content p-4">
                                                        <div class="modal-body">
                                                            <p>Thank you for your interest in this content. To unlock
                                                                it, please purchase the corresponding package or course.
                                                                Click the 'Purchase' button to proceed.</p>
                                                        </div>
                                                        <div class="modal-footer border-0 justify-content-center">
                                                            <a href="/dashboard/buy-more"
                                                                class="btn btn-primary">Purchase</a>
                                                            <button type="button" class="btn btn-danger ml-2"
                                                                data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/ifEquals}}
                                            {{!-- students --}}
                                            {{#ifEquals user.role "student"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr class="{{#unless this.unlock}}event-none{{/unless}}">
                                                <td><a {{#if this.unlock}}
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{../courseId}}/{{this._id}}{{else}}/dashboard/view-quiz/{{../courseId}}/{{this._id}}{{/ifEquals}}"
                                                        {{else}} href="#" {{/if}}>
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>

                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{#if this.completed}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/if}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{else}}
                                                    {{#ifEquals this.type 'final'}}
                                                    <span class="badge badge-danger">{{../timeForExam.final}}
                                                        Minutes</span>
                                                    <span class="badge badge-success">Final</span>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.type 'mid'}}
                                                    <span class="badge badge-danger">{{../timeForExam.mid}}
                                                        Minutes</span>
                                                    <span class="badge badge-success">Mid</span>
                                                    {{/ifEquals}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{#ifEquals this.grade "passed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.grade "failed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-xmark float-right text-danger"></i>
                                                    {{/ifEquals}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            {{/ifEquals}}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col mb-2 pb-2 chapter-left">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h3 class="card-title" style="line-height:2">Chapter: {{chapter.name}}</h3>
                                    <div class="float-right d-inline-flex">
                                        <a class="nav-link" href="#" role="button" data-toggle="modal"
                                            data-target="#chapterModel">
                                            <i class="fas fa-expand-arrows-alt mr-2"></i> <span
                                                class='d-none d-md-inline'>Full View</span>
                                        </a>
                                        {{#unless chapter.completed}}
                                        <button
                                            class="btn btn-success {{#ifCond user.role '==' 'regulator'}}d-none{{/ifCond}} float-right completed"
                                            id="completed" style="width:170px" {{#if chapter.completed}}disabled{{/if}}>
                                            <div class="spinner d-none" id="spinner">
                                                <i class="fa-solid fa-circle-notch fa-spin"></i>
                                            </div>
                                            <span class="text" id="button-text">Mark
                                                as completed</span>
                                        </button>
                                        {{/unless}}
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row h-100">
                                        <style>
                                            @media screen and (max-width:767px) {
                                                .pdf-view {
                                                    min-height: 400px !important;
                                                }
                                            }
                                        </style>
                                        <div class="w-100 pdf-view" style="min-height: calc(850px);">
                                            <object data='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=&zoom=70'
                                                type="application/pdf" width="100%" height="100%">

                                                <iframe src='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=&zoom=70'
                                                    width="100%" height="100%">
                                                    <p>This browser does not support PDF!</p>
                                                </iframe>
                                            </object>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{#unless chapter.completed}}
                                    <button
                                        class="btn  {{#ifCond user.role '==' 'regulator'}}d-none{{/ifCond}} btn-success mt-2 float-right completed"
                                        id="completed" style="width: 170px;" {{#if chapter.completed}}disabled{{/if}}>
                                        <div class="spinner d-none" id="spinner">
                                            <i class="fa-solid fa-circle-notch fa-spin"></i>
                                        </div>
                                        <span class="text" id="button-text">Mark as completed</span>
                                    </button>
                                    {{/unless}}
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <div class="modal p-0 overflow-hidden" id="chapterModel" tabindex="-1" role="dialog"
            aria-labelledby="chapterModelLabel" aria-hidden="true">
            <div class="modal-dialog" style="min-width:100%;margin:0" role="document">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle" style="line-height:2">{{chapter.name}}
                        </h5>
                        {{#unless chapter.completed}}
                        <button
                            class="btn btn-success {{#ifCond user.role '==' 'regulator'}}d-none{{/ifCond}} ml-auto completed"
                            id="completed" style="width:170px" {{#if chapter.completed}}disabled{{/if}}>
                            <div class="spinner d-none" id="spinner">
                                <i class="fa-solid fa-circle-notch fa-spin"></i>
                            </div>
                            <span class="text" id="button-text">Mark
                                as completed</span>
                        </button>
                        {{/unless}}
                        <button type="button" class="btn btn-danger ml-1" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="w-100 pdf-view" style="height:calc(100vh - 74px)">
                            <object data='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=&zoom=70'
                                type="application/pdf" width="100%" style="height:calc(100vh - 74px)">

                                <iframe src='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=&zoom=70' width="100%"
                                    style="height:calc(100vh - 74px)">
                                    <p>This browser does not support PDF!</p>
                                </iframe>
                            </object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    {{!--
    <script src="/js/pdfjsExpress/webviewer.min.js"></script> --}}
    {{!--
    <script src="/js/pdfviewer.js"></script> --}}

    {{!-- if already completed then hide this script from client side --}}
    {{#unless chapter.completed}}
    <script>
        const complete = $('.completed')
        const id = `{{{chapter._id}}}`
        complete.on('click', async (e) => {
            setLoading(true)
            const res = await fetch('/mark-completed', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id })
            })
            const result = await res.json()
            if (result.success) {
                setLoading(false)
                complete.prop('disabled', true)
                complete.text("Completed")
                //window.history.back()
                window.location.reload()
            }
            if (result.error) {
                setLoading(false)
                alert(result.error)
            }
        })
        function setLoading(isLoading) {
            if (isLoading) {
                complete.prop('disabled', true);
                complete.find('.text').addClass('d-none');
                complete.find('.spinner').removeClass('d-none')
            } else {
                complete.prop('disabled', false);
                complete.find('.text').removeClass('d-none');
                complete.find('.spinner').addClass('d-none')
            }
        }
    </script>
    {{/unless}}
    <script>
        if (window.outerWidth >= 993 && window.outerWidth <= 1200) {
            $('body').addClass('sidebar-collapse')
        }
        window.addEventListener('resize', () => {
            if (window.outerWidth >= 993 && window.outerWidth <= 1200) {
                $('body').addClass('sidebar-collapse')
            } else if (window.outerWidth >= 1200) {
                $('body').removeClass('sidebar-collapse')
            }
        })
    </script>
</body>

</html>