{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title text-bold text-capitalize">{{title}}</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <tbody>
                                            {{!-- regulator --}}
                                            {{#ifEquals user.role "regulator"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr>
                                                <td><a
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{this._id}}{{else}}/dashboard/view-quiz/{{this._id}}{{/ifEquals}}">
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>
                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{else}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            {{/ifEquals}}


                                            {{!-- stduents --}}
                                            {{#ifEquals user.role "student"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr class="{{#unless this.unlock}}event-none{{/unless}}">
                                                <td><a {{#if this.unlock}}
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{this._id}}{{else}}/dashboard/view-quiz/{{this._id}}{{/ifEquals}}"
                                                        {{else}} href="#" {{/if}}>
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>

                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{#if this.completed}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/if}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{else}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{#ifEquals this.grade "passed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.grade "failed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-xmark float-right text-danger"></i>
                                                    {{/ifEquals}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            {{/ifEquals}}
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}

</body>

</html>