{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-2">
                            <div class="card h-100">
                                <div class="card-header border-bottom-0">
                                    <h3 class="card-title text-bold text-capitalize">Course Contents</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <tbody>
                                            {{!-- regulator --}}
                                            {{#ifEquals user.role "regulator"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr>
                                                <td><a
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{../courseId}}/{{this._id}}{{else}}/dashboard/view-quiz/{{../courseId}}/{{this._id}}{{/ifEquals}}">
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>
                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{else}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            {{/ifEquals}}


                                            {{!-- students --}}
                                            {{#ifEquals user.role "student"}}
                                            {{#if contents}}
                                            {{#each contents}}
                                            <tr class="{{#unless this.unlock}}event-none{{/unless}}">
                                                <td><a {{#if this.unlock}}
                                                        href="{{#ifEquals this.type 'chapter'}}/dashboard/view-chapter/{{../courseId}}/{{this._id}}{{else}}/dashboard/view-quiz/{{../courseId}}/{{this._id}}{{/ifEquals}}"
                                                        {{else}} href="#" {{/if}}>
                                                        {{#ifEquals this.type 'chapter'}}<i
                                                            class="fa-regular fa-file"></i>
                                                        {{else}}
                                                        <i class="fa-regular fa-clock"></i>
                                                        {{/ifEquals}} {{this.name}}</a>

                                                </td>
                                                <td class="text-right">{{#ifEquals this.type 'chapter'}}
                                                    {{#if this.completed}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/if}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{else}}
                                                    <span class="badge badge-primary">{{this.questions.length}}
                                                        Questions
                                                    </span>
                                                    {{#ifEquals this.grade "passed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-check float-right text-success"></i>
                                                    {{/ifEquals}}
                                                    {{#ifEquals this.grade "failed"}}
                                                    <i class="fa-solid mt-1 ml-2 fa-xmark float-right text-danger"></i>
                                                    {{/ifEquals}}
                                                    {{#unless this.unlock}}<i class="fas fa-lock ml-2"></i>{{/unless}}
                                                    {{/ifEquals}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{else}}
                                            <tr>
                                                <td colspan="2">No Contents for this Course.</td>
                                            </tr>
                                            {{/if}}
                                            {{/ifEquals}}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-8 mb-2">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h3 class="card-title">Chapter: {{chapter.name}}</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row h-100">
                                        <div class="w-100" style="min-height: calc(100vh - 278px);">
                                            <object data='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=0'
                                                type="application/pdf" width="100%" height="100%">

                                                <iframe src='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=0'
                                                    width="100%" height="100%">
                                                    <p>This browser does not support PDF!</p>
                                                </iframe>
                                            </object>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{#unless chapter.completed}}
                                        <button
                                            class="btn  {{#ifCond user.role '==' 'regulator'}}d-none{{/ifCond}} btn-success mt-2 float-right"
                                            id="completed" style="width: 170px;" {{#if
                                            chapter.completed}}disabled{{/if}}>
                                            <div class="spinner d-none" id="spinner">
                                                <i class="fa-solid fa-circle-notch fa-spin"></i>
                                            </div>
                                            <span class="text" id="button-text">Mark as completed</span>
                                        </button>
                                        {{/unless}}
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    {{!--
    <script src="/js/pdfjsExpress/webviewer.min.js"></script> --}}
    {{!--
    <script src="/js/pdfviewer.js"></script> --}}

    {{!-- if already completed then hide this script from client side --}}
    {{#unless chapter.completed}}
    <script>
        const complete = document.querySelector('#completed')
        const id = `{{{chapter._id}}}`
        complete.addEventListener('click', async (e) => {
            setLoading(true)
            const res = await fetch('/mark-completed', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id })
            })
            const result = await res.json()
            if (result.success) {
                setLoading(false)
                complete.disabled = true
                complete.textContent = "Completed"
                //window.history.back()
            }
            if (result.error) {
                setLoading(false)
                alert(result.error)
            }
        })
        function setLoading(isLoading) {
            if (isLoading) {
                complete.disabled = true;
                complete.querySelector('.text').classList.add('d-none');
                complete.querySelector('.spinner').classList.remove('d-none')
            } else {
                complete.disabled = false;
                complete.querySelector('.text').classList.remove('d-none');
                complete.querySelector('.spinner').classList.add('d-none')
            }
        }
    </script>
    {{/unless}}
    <script>
        if (window.outerWidth >= 993 && window.outerWidth <= 1200) {
            $('body').addClass('sidebar-collapse')
        }
        window.addEventListener('resize', () => {
            if (window.outerWidth >= 993 && window.outerWidth <= 1200) {
                $('body').addClass('sidebar-collapse')
            } else if (window.outerWidth >= 1200) {
                $('body').removeClass('sidebar-collapse')
            }
        })
    </script>
</body>

</html>