{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
    <link rel="stylesheet" href="/dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{quiz.name}}</h3>
                                    <div class="float-right timeHead {{#if takenQuiz}} d-none{{/if}}">
                                        <h3 class="card-title mr-2">Timer:</h3>
                                        <h3 class="card-title timer">00:00</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="result text-center mb-5{{#unless takenQuiz}} d-none{{/unless}}"
                                        id="result">
                                        <h3 class="mb-0">Your Result</h3>
                                        <h2
                                            class="percent mb-0 font-weight-bold {{#ifCond takenQuiz.percent '>=' '60'}}text-success{{else}}text-danger{{/ifCond}}">
                                            {{takenQuiz.percent}}%</h2>
                                        <p class="mb-0">Minimum marks required to pass: 60%</p>
                                        <p>Your grade is <span
                                                class="grade {{#ifCond takenQuiz.percent '>=' '60'}}text-success{{else}}text-danger{{/ifCond}}">{{#ifCond
                                                takenQuiz.percent '>=' '60'}}passed{{else}}failed{{/ifCond}}</span></p>
                                        <table class="mx-auto">
                                            <tr>
                                                <th class="text-left" style="width:230px ;">Points</th>
                                                <td class="text-right points">{{takenQuiz.points}}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="width:230px ;">Time Spend</th>
                                                <td class="text-right time">{{takenQuiz.time}}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="width:230px ;">Questions</th>
                                                <td class="text-right">{{quiz.questions.length}}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="width:230px ;">Correct</th>
                                                <td class="text-right correct">{{takenQuiz.correct_ans.length}}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="width:230px ;">Wrong</th>
                                                <td class="text-right wrong">{{takenQuiz.wrong_ans.length}}</td>
                                            </tr>
                                        </table>
                                        <button class="retake btn btn-success retake">Retake</button>
                                    </div>
                                    <form id="quiz" class="{{#if takenQuiz}} d-none{{/if}}">
                                        <input type="hidden" name="quizId" value="{{quiz._id}}">
                                        {{#each quiz.questions}}
                                        <div class="form-group-head {{#unless @first}}mt-4{{/unless}}">
                                            <label>{{this.question}}</label>
                                            <div class="ans pl-4">
                                                {{#each this.options}}
                                                <div class="form-group clearfix mb-0 {{#unless @last}}mb-2{{/unless}}"
                                                    id="question">
                                                    <div class="icheck-primary d-inline">
                                                        <input type="radio" id="qu-{{@../index}}-op-{{@index}}"
                                                            value="{{@index}}" name="q-{{@../index}}" required>
                                                        <label class="font-weight-normal"
                                                            for="qu-{{@../index}}-op-{{@index}}">
                                                            {{this}}
                                                        </label>
                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                            <div class="feedback font-weight-bold d-none"></div>
                                        </div>
                                        {{/each}}
                                        <button class="btn btn-success mt-2 float-left submit"
                                            type="submit">Submit</button>
                                    </form>
                                    <div
                                        class="spinner d-none flex-column align-items-center position-absolute place-center">
                                        <span class="loader ">
                                            <i class="fa-solid fa-circle-notch fa-spin"></i>
                                        </span>
                                        <span class="text font-weight-bold">msg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    {{!--
    <script src="/js/pdfjsExpress/webviewer.min.js"></script> --}}

    <script>
        const noOfQuestions = `{{{quiz.questions.length}}}`
    </script>
    <script src="/js/quiz-take.js"></script>
</body>

</html>