{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
    <link rel="stylesheet" href="/dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Quiz: {{quiz.name}}</h3>
                                </div>
                                <div class="card-body">
                                    <form id="quiz">
                                        {{#each quiz.questions}}
                                        <div class="form-group">
                                            <label >{{this.question}}</label>
                                            {{#each this.options}}
                                            <div class="form-group clearfix" id="exampleInputEmail1">
                                                <div class="icheck-primary d-inline">
                                                    <input type="radio" id="qu-{{@../index}}-op-{{@index}}" value="{{@index}}" name="q-{{@../index}}" required>
                                                    <label class="font-weight-normal" for="qu-{{@../index}}-op-{{@index}}">
                                                        {{this}}
                                                    </label>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                        {{/each}}
                                    <button class="btn btn-success mt-2 float-left" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    {{!--
    <script src="/js/pdfjsExpress/webviewer.min.js"></script> --}}

    <script src="/js/quiz.js"></script>
    <script>
        const id = `{{{quiz._id}}}`
    </script>
</body>

</html>