{{>dashboardheader}}

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Add Quiz or Exam</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Add Quiz</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form action="update-quiz?qId={{quiz._id}}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">General</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {{!-- select quiz or term --}}
                                    <div class="form-group">
                                        <label for="inputStatus">Select Quiz/Term</label>
                                        <select id="inputStatus" required name="name" class="form-control custom-select">
                                            <option disabled value="">Select one</option>
                                            <option value="{{quiz.type}}" class="d-none">{{quiz.type}}</option>
                                            <option value="quiz">Quiz</option>
                                            <option value="term">Term</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStatus">Select Course</label>
                                        <select id="inputStatus" required name="course" class="form-control custom-select">
                                            <option disabled value="">Select one</option>
                                            <option value="{{quiz.course.name}}" class="d-none">{{quiz.course.name}}</option>
                                            {{#each courses}}
                                            <option value="{{this.name}}">{{this.name}}</option>
                                            {{/each}}
                                            {{!-- <option value="term">Term</option> --}}
                                        </select>
                                    </div>
                                    <div id="questions">
                                            {{#each quiz.questions}}
                                        <div class="question-no">
                                            <div class="form-group">
                                                <label for="question-{{increment @index}}" class="w-100">
                                                    Question {{increment @index}}
                                                     <button type="button" class="btn p-0 float-right cross">x</button>
                                                </label> 
                                                <input type="text" required value="{{this.question}}" id="question-{{increment @index}}" name="question-{{increment @index}}"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <div class="quiz">
                                                    {{#each this.options}}
                                                    <div class="d-flex">
                                                        <div class="options">
                                                            <label for="opt{{@index}}-q-{{increment @../index}}" class="col-form-label">{{increment @index}}</label>
                                                            <input id="opt{{@index}}-q-{{increment @../index}}" type="text" value="{{this}}" required class=""
                                                                name="question-{{increment @../index}}-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" required value="{{increment @index}}" {{returnChecked @index ../this.ans}} class="checkBox" name="question-{{increment @../index}}-ans"
                                                                id="q-{{increment @../index}}-op{{increment @index}}">
                                                            <label for="q-{{increment @../index}}-op{{increment @index}}" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                    {{!-- <div class="d-flex">
                                                        <div class="options">
                                                            <label for="opt2-q-{{increment @index}}" class="col-form-label">2</label>
                                                            <input id="opt2-q-{{increment @index}}" type="text" required class=""
                                                                name="question-{{increment @index}}-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" value="2" class="checkBox" name="question-{{increment @index}}-ans"
                                                                id="q-{{increment @index}}-op2">
                                                            <label for="q-{{increment @index}}-op2" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="options">
                                                            <label for="opt3-q-{{increment @index}}" class="col-form-label">3</label>
                                                            <input id="opt3-q-{{increment @index}}" type="text" required class=""
                                                                name="question-{{increment @index}}-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" value="3" class="checkBox" name="question-{{increment @index}}-ans"
                                                                id="q-{{increment @index}}-op3">
                                                            <label for="q-{{increment @index}}-op3" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="options">
                                                            <label for="opt4-q-{{increment @index}}" class="col-form-label">4</label>
                                                            <input id="opt4-q-{{increment @index}}" type="text" required class=""
                                                                name="question-{{increment @index}}-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" value="4" class="checkBox" name="question-{{increment @index}}-ans"
                                                                id="q-{{increment @index}}-op4">
                                                            <label for="q-{{increment @index}}-op4" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div> --}}
                                                </div>
                                            </div>
                                        </div>
                                            {{/each}}
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <button type="button" id="addNextQuiz" class="btn btn-success float-right">Add
                                        Next</button>
                                </div>
                            </div>
                            <!-- /.card -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-success float-right">Update Quiz</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {{>dashboardfooter}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    <script src="/js/quiz.js"></script>
</body>

</html>