{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    {{>dashboardNavbar}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{>dashboardMainSidebar}}

    <!-- toast(alert)-->
    {{>alert}}
    <!-- /toast(alert)-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            {{#ifEquals user.role "admin"}}
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">Students</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">{{countStudents}}</span>
                      <span>Students Over Time</span>
                    </p>
                    <p class="ml-auto d-flex flex-column text-right">
                      <span class="{{#ifCond perNum '>=' 0}}text-success{{else}}text-danger{{/ifCond}}">
                        <i class="fas fa-arrow-{{#ifCond perNum '>=' 0}}up{{else}}down{{/ifCond}}"></i> {{perNum}}%
                      </span>
                      <span class="text-muted">Since last Year</span>
                    </p>
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>

                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> This Year
                    </span>

                    <span>
                      <i class="fas fa-square text-gray"></i> Last Year
                    </span>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">Sales</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">${{allSale}}</span>
                      <span>Sales Over Time</span>
                    </p>
                    <p class="ml-auto d-flex flex-column text-right">
                      <span class="{{#ifCond percentageAmount '>=' 0}}text-success{{else}}text-danger{{/ifCond}}">
                        <i class="fas fas fa-arrow-{{#ifCond percentageAmount '>=' 0}}up{{else}}down{{/ifCond}}"></i>
                        {{percentageAmount}}%
                      </span>
                      <span class="text-muted">Since last Year</span>
                    </p>
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="sales-chart" height="200"></canvas>
                  </div>

                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> This year
                    </span>

                    <span>
                      <i class="fas fa-square text-gray"></i> Last year
                    </span>
                  </div>
                </div>
              </div>

            </div>
            {{/ifEquals}}
            {{!-- regulator --}}
            {{#ifEquals user.role "regulator"}}
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">Students</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">{{countStudents}}</span>
                      <span>Students Over Time</span>
                    </p>
                    <p class="ml-auto d-flex flex-column text-right">
                      <span class="{{#ifCond perNum '>=' 0}}text-success{{else}}text-danger{{/ifCond}}">
                        <i class="fas fa-arrow-{{#ifCond perNum '>=' 0}}up{{else}}down{{/ifCond}}"></i> {{perNum}}%
                      </span>
                      <span class="text-muted">Since last Year</span>
                    </p>
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>

                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> This Year
                    </span>

                    <span>
                      <i class="fas fa-square text-gray"></i> Last Year
                    </span>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">Sales</h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">${{allSale}}</span>
                      <span>Sales Over Time</span>
                    </p>
                    <p class="ml-auto d-flex flex-column text-right">
                      <span class="{{#ifCond percentageAmount '>=' 0}}text-success{{else}}text-danger{{/ifCond}}">
                        <i class="fas fas fa-arrow-{{#ifCond percentageAmount '>=' 0}}up{{else}}down{{/ifCond}}"></i>
                        {{percentageAmount}}%
                      </span>
                      <span class="text-muted">Since last Year</span>
                    </p>
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="sales-chart" height="200"></canvas>
                  </div>

                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> This year
                    </span>

                    <span>
                      <i class="fas fa-square text-gray"></i> Last year
                    </span>
                  </div>
                </div>
              </div>

            </div>
            {{/ifEquals}}
            <!-- /.col-md-6 -->
            {{#ifEquals user.role "student"}}
            <!-- Purchased Course -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">Purchased Courses</h3>
                </div>
                <div class="card-body table-responsive p-0">
                  <table class="table table-striped table-valign-middle">
                    <thead>
                      <tr>
                        <th>Course Name</th>
                        <th>Progress</th>
                        <th class="text-right">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each userCourses}}
                      <tr>
                        <td>
                          <a class="text-capitalize" href="/dashboard/view-course/{{this._id}}">{{this.name}}</a>
                        </td>
                        <td>
                          <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: {{progress}}%"></div>
                          </div>
                        </td>
                        <td class="text-right">
                          <a href="/dashboard/view-course/{{this._id}}" class="text-muted">
                            <i class="fas fa-book"></i>
                          </a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--  /.col-md-6 -->
            <!-- Completed Course -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <h3 class="card-title">Completed Courses</h3>
                </div>
                <div class="card-body table-responsive p-0">
                  <table class="table table-striped table-valign-middle">
                    <thead>
                      <tr>
                        <th>Course Name</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="2">You haven't complete any course yet.</td>
                      </tr>
                      {{!-- <tr>
                        <td>
                          Course
                        </td>
                        <td>
                          <a href="/dashboard/view-course" class="text-muted">
                            <i class="fas fa-book"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Course
                        </td>
                        <td>
                          <a href="/dashboard/view-course" class="text-muted">
                            <i class="fas fa-book"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Course
                        </td>
                        <td>
                          <a href="/dashboard/view-course" class="text-muted">
                            <i class="fas fa-book"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Course
                        </td>
                        <td>
                          <a href="/dashboard/view-course" class="text-muted">
                            <i class="fas fa-book"></i>
                          </a>
                        </td>
                      </tr> --}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
            {{/ifEquals}}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    {{>dashboardfooter}}
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  {{!-- this script used for to send data to dashboard3 file to view this data in chart --}}
  <script>
    // current year students registration
    const curJan = `{{{currentYearstdData.[1]}}}`
    const curFeb = `{{{currentYearstdData.[2]}}}`
    const curMar = `{{{currentYearstdData.[3]}}}`
    const curApr = `{{{currentYearstdData.[4]}}}`
    const curMay = `{{{currentYearstdData.[5]}}}`
    const curJun = `{{{currentYearstdData.[6]}}}`
    const curJul = `{{{currentYearstdData.[7]}}}`
    const curAug = `{{{currentYearstdData.[8]}}}`
    const curSep = `{{{currentYearstdData.[9]}}}`
    const curOct = `{{{currentYearstdData.[10]}}}`
    const curNov = `{{{currentYearstdData.[11]}}}`
    const curDec = `{{{currentYearstdData.[12]}}}`
    // last year students registration
    const lastJan = `{{{lastYearStdObj.[1]}}}`
    const lastFeb = `{{{lastYearStdObj.[2]}}}`
    const lastMar = `{{{lastYearStdObj.[3]}}}`
    const lastApr = `{{{lastYearStdObj.[4]}}}`
    const lastMay = `{{{lastYearStdObj.[5]}}}`
    const lastJun = `{{{lastYearStdObj.[6]}}}`
    const lastJul = `{{{lastYearStdObj.[7]}}}`
    const lastAug = `{{{lastYearStdObj.[8]}}}`
    const lastSep = `{{{lastYearStdObj.[9]}}}`
    const lastOct = `{{{lastYearStdObj.[10]}}}`
    const lastNov = `{{{lastYearStdObj.[11]}}}`
    const lastDec = `{{{lastYearStdObj.[12]}}}`

    // current year sales rate
    const cursaleJan = `{{{currentYearAmount.[1]}}}`
    const cursaleFeb = `{{{currentYearAmount.[2]}}}`
    const cursaleMar = `{{{currentYearAmount.[3]}}}`
    const cursaleApr = `{{{currentYearAmount.[4]}}}`
    const cursaleMay = `{{{currentYearAmount.[5]}}}`
    const cursaleJun = `{{{currentYearAmount.[6]}}}`
    const cursaleJul = `{{{currentYearAmount.[7]}}}`
    const cursaleAug = `{{{currentYearAmount.[8]}}}`
    const cursaleSep = `{{{currentYearAmount.[9]}}}`
    const cursaleOct = `{{{currentYearAmount.[10]}}}`
    const cursaleNov = `{{{currentYearAmount.[11]}}}`
    const cursaleDec = `{{{currentYearAmount.[12]}}}`
    //last year sales rate
    const lastsaleJan = `{{{lastYearAmount.[1]}}}`
    const lastsaleFeb = `{{{lastYearAmount.[2]}}}`
    const lastsaleMar = `{{{lastYearAmount.[3]}}}`
    const lastsaleApr = `{{{lastYearAmount.[4]}}}`
    const lastsaleMay = `{{{lastYearAmount.[5]}}}`
    const lastsaleJun = `{{{lastYearAmount.[6]}}}`
    const lastsaleJul = `{{{lastYearAmount.[7]}}}`
    const lastsaleAug = `{{{lastYearAmount.[8]}}}`
    const lastsaleSep = `{{{lastYearAmount.[9]}}}`
    const lastsaleOct = `{{{lastYearAmount.[10]}}}`
    const lastsaleNov = `{{{lastYearAmount.[11]}}}`
    const lastsaleDec = `{{{lastYearAmount.[12]}}}`

  </script>
  <!-- jQuery -->
  {{>dashboardfooterlinks}}
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="/dashboard/dist/js/pages/dashboard3.js"></script>


</body>

</html>