{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{!--
        <!-- salesperson variable is used for the salesperson content -->
        --}}
        {{>dashboardMainSidebar salesperson=true}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dashboard</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard/salesperson">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row col-md-6 mx-auto">
                        <div class="col-md-6">
                            <a
                                href="{{#ifEquals user.role 'admin'}}/dashboard/salesperson/all-tests{{else}}/dashboard/salesperson/tests{{/ifEquals}}">
                                <div class="small-box bg-info" style="height: 150px;">
                                    <div class="inner">
                                        <h4>Tests</h4>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-clipboard"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a
                                href="{{#ifEquals user.role 'admin'}}/dashboard/salesperson/add-test{{else}}/dashboard/salesperson/tests-result{{/ifEquals}}">
                                <div class="small-box bg-danger" style="height: 150px;">
                                    <div class="inner">
                                        <h4>{{#ifEquals user.role 'admin'}}Add Test{{else}}Test Result{{/ifEquals}}</h4>
                                    </div>
                                    <div class="icon">
                                        <i
                                            class="fa {{#ifEquals user.role 'student'}}fa-graduation-cap{{else}}fa-add{{/ifEquals}}"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a
                                href="{{#ifEquals user.role 'admin'}}/dashboard/salesperson/all-categories{{else}}/dashboard/salesperson/test-by-category{{/ifEquals}}">
                                <div class="small-box bg-warning" style="height: 150px;">
                                    <div class="inner">
                                        <h4>{{#ifEquals user.role 'admin'}}Categories{{else}}Quiz By
                                            Category{{/ifEquals}}</h4>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a
                                href="{{#ifEquals user.role 'admin'}}/dashboard/salesperson/add-category{{else}}/dashboard/salesperson/exam{{/ifEquals}}">
                                <div class="small-box bg-success" style="height: 150px;">
                                    <div class="inner">
                                        <h4>{{#ifEquals user.role 'admin'}}Add
                                            Category{{else}}State Exam Replica{{/ifEquals}}</h4>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-line-chart"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    {{>dashboardfooterlinks}}
</body>

</html>