{{>dashboardheader}}

<head>
    <link rel="stylesheet" href="/dashboard/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css"
        integrity="sha512-8vq2g5nHE062j3xor4XxPeZiPjmRDh6wlufQlfC6pdQ/9urJkU07NM0tEREeymP++NczacJ/Q59ul+/K2eYvcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- toast(alert)-->
    {{>alert}}
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Setting</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Setting</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="container-fluid">
                    <form action="{{#ifEquals user.role " admin"}}setting{{/ifEquals}} {{#ifEquals user.role "student"
                        }}userSetting{{/ifEquals}}" enctype="multipart/form-data" method="post" id="validFrom">
                        <input type="hidden" name="id" value="{{setting._id}}">
                        <div class="row">
                            {{!-- super admin --}}
                            {{#ifEquals user.role "superAdmin"}}
                            <div class="col-md-6 mb-2">
                                <div class="card card-cyan h-100 mb-0">
                                    <div class="card-header">
                                        <h3 class="card-title">Application Setting</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        {{!-- quiz percenteage --}}
                                                        <div class="form-group">
                                                            <label for="quizMarks">Quiz Passing Marks</label>
                                                            <div class="input-group">
                                                                <input type="number" min="0" max="100" name="quizMarks"
                                                                    id="quizMarks" value="{{setting.quizPassingMark}}"
                                                                    placeholder="Example: 60" class="form-control">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{!-- mid percenteage --}}
                                                        <div class="form-group">
                                                            <label for="quizMarks">Mid Passing Marks</label>
                                                            <div class="input-group">
                                                                <input type="number" min="0" max="100" name="midMarks"
                                                                    id="quizMarks" value="{{setting.midPassingMark}}"
                                                                    placeholder="Example: 60" class="form-control">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{!-- final percenteage --}}
                                                        <div class="form-group">
                                                            <label for="quizMarks">Final Passing Marks</label>
                                                            <div class="input-group">
                                                                <input type="number" min="0" max="100" name="finalMarks"
                                                                    id="quizMarks" value="{{setting.finalPassingMark}}"
                                                                    placeholder="Example: 60" class="form-control">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- time retake of quiz --}}
                                                <div class="form-group">
                                                    <label>How many retakes can a student have for mid exam?</label>
                                                    <select class="custom-select" name="midRetake">
                                                        <option selected="" disabled="" value="">Select one</option>
                                                        <option value="1" {{#ifEquals setting.midRetake
                                                            1}}selected{{/ifEquals}}>1</option>
                                                        <option value="2" {{#ifEquals setting.midRetake
                                                            2}}selected{{/ifEquals}}>2</option>
                                                        <option value="3" {{#ifEquals setting.midRetake
                                                            3}}selected{{/ifEquals}}>3</option>
                                                        <option value="4" {{#ifEquals setting.midRetake
                                                            4}}selected{{/ifEquals}}>4</option>
                                                        <option value="5" {{#ifEquals setting.midRetake
                                                            5}}selected{{/ifEquals}}>5</option>
                                                        <option value="-1" {{#ifEquals setting.midRetake
                                                            -1}}selected{{/ifEquals}}>unlimited</option>
                                                    </select>
                                                </div>
                                                {{!-- final part --}}
                                                {{!-- time retake of quiz --}}
                                                <div class="form-group">
                                                    <label>How many retakes can a student have for Final exam?</label>
                                                    <select class="custom-select" name="finalRetake">
                                                        <option selected="" disabled="" value="">Select one</option>
                                                        <option value="1" {{#ifEquals setting.finalRetake
                                                            1}}selected{{/ifEquals}}>1</option>
                                                        <option value="2" {{#ifEquals setting.finalRetake
                                                            2}}selected{{/ifEquals}}>2</option>
                                                        <option value="3" {{#ifEquals setting.finalRetake
                                                            3}}selected{{/ifEquals}}>3</option>
                                                        <option value="4" {{#ifEquals setting.finalRetake
                                                            4}}selected{{/ifEquals}}>4</option>
                                                        <option value="5" {{#ifEquals setting.finalRetake
                                                            5}}selected{{/ifEquals}}>5</option>
                                                        <option value="-1" {{#ifEquals setting.finalRetake
                                                            -1}}selected{{/ifEquals}}>unlimited</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col">
                                                        <label for="midTime">Mid Time</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" name="midTakeTime" id="midTime"
                                                                value="{{setting.midTakeTime}}"
                                                                placeholder="Example: 60" class="form-control">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">Minutes</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="finalTime">Final Time</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" name="finalTakeTime"
                                                                id="finalTime" value="{{setting.finalTakeTime}}"
                                                                placeholder="Example: 60" class="form-control">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">Minutes</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                {{!-- quizzes policy --}}
                                                <div>
                                                    <p class="font-weight-bold mb-0">Quizzes Attempt policy</p>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input custom-control-input-primary"
                                                            type="radio" id="policy1" {{#ifEquals
                                                            setting.quizPolicy "accessAllTime" }}checked{{/ifEquals}}
                                                            value="accessAllTime" name="quizPolicy">
                                                        <label class="font-weight-normal custom-control-label"
                                                            for="policy1">Keep all
                                                            quizzes
                                                            open to be accessed at any
                                                            time
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input custom-control-input-primary"
                                                            type="radio" id="policy2" value="accessPassedPrevious"
                                                            {{#ifEquals setting.quizPolicy "accessPassedPrevious"
                                                            }}checked{{/ifEquals}} name="quizPolicy">
                                                        <label class="font-weight-normal custom-control-label"
                                                            for="policy2">Allow access
                                                            only if previous quiz has been
                                                            passed
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="unlockCourse" id="unlockCourse" {{#if
                                                            setting.unlockCourse }}checked{{/if}}>
                                                        <label for="unlockCourse"
                                                            class="custom-control-label font-weight-normal">Unlock
                                                            Course when previous is completed.</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="randomizeQuestions" id="randomize"
                                                            {{#if setting.randomizeQuestions }}checked{{/if}}>
                                                        <label for="randomize"
                                                            class="custom-control-label font-weight-normal">Randomize
                                                            the questions of Exam(Quiz,Mid & Final)</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="reviewQuiz" id="reviewQuiz" {{#if
                                                            setting.reviewQuiz }}checked{{/if}}>
                                                        <label for="reviewQuiz"
                                                            class="custom-control-label font-weight-normal">Can
                                                            student review their quiz?</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="showAnswer" id="showAnsCheckbox" {{#if
                                                            setting.showAnswer }}checked{{/if}}>
                                                        <label for="showAnsCheckbox"
                                                            class="custom-control-label font-weight-normal">Show Correct
                                                            answers?</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="showFinalDay" id="showFinalTerm"
                                                            {{#ifCond setting.finalDay '>' '-1' }}checked{{/ifCond}}>
                                                        <label for="showFinalTerm"
                                                            class="custom-control-label font-weight-normal">Unlock Final
                                                            Term after days?</label>
                                                    </div>
                                                    <div class="form-group finalDay mt-1">
                                                        <input type="number" min="0" name="finalExamDay"
                                                            id="finalTermDay" value="{{setting.finalDay}}"
                                                            placeholder="Enter No of days" class="form-control">
                                                        <input type="number" min="0" name="finalExamTime"
                                                            value="{{setting.finalTime}}" placeholder="Time in minutes"
                                                            class="form-control mt-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="card card-primary h-100 mb-0">
                                    <div class="card-header">
                                        <h3 class="card-title">General Setting</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <!--- Logo  -->
                                                <div class="form-group row align-items-center">
                                                    <div class="col-xl-6">
                                                        <label for="logo">Logo <small>(<b>Size=</b> 1:1)</small></label>
                                                        <div class="input-group">
                                                            <input type="file" name="logo" accept="image/*"
                                                                id="exampleInputFile">
                                                        </div>
                                                    </div>
                                                    {{#if setting}}
                                                    <div class="col-xl-6">
                                                        <p class="mb-0 mt-2 d-flex flex-column align-items-center">
                                                            <img src="{{setting.logoPath}}" alt="logo" width="100px">
                                                            <b>Current Uploaded logo</b>
                                                        </p>
                                                    </div>
                                                    {{/if}}
                                                </div>
                                                <!--- College name  -->
                                                <div class="form-group">
                                                    <label for="collegeName">College Name</label>
                                                    <input type="text" class="form-control" id="collegeName"
                                                        placeholder="College Name" value="{{setting.collegeName}}"
                                                        name="name">
                                                </div>
                                                <!--- College address  -->
                                                <div class="form-group">
                                                    <label for="collegeAdd">College Address</label>
                                                    <textarea id="collegeAdd" class="form-control" rows="3"
                                                        placeholder="College Address" spellcheck="false"
                                                        style="height: 102px;"
                                                        name="address">{{setting.collegeAddress}}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone No</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-phone"></i></span>
                                                        </div>
                                                        <input type="text" value="{{setting.collegePhone}}"
                                                            class="form-control"
                                                            data-inputmask='"mask": "(999) 999-9999"' name="phone"
                                                            data-mask>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary float-right">{{#if
                                            setting}}Update{{else}}Save{{/if}}</button>
                                    </div>
                                </div>
                            </div>
                            {{/ifEquals}}

                            {{!-- Admin --}}
                            {{#ifEquals user.role "admin"}}
                            <!-- Application Setting -->
                            <div class="col-md-6 mb-2">
                                <div class="card card-cyan">
                                    <div class="card-header">
                                        <h3 class="card-title">Application Setting</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        {{!-- quiz percenteage --}}
                                                        <div class="form-group">
                                                            <label for="quizMarks">Quiz Passing Marks</label>
                                                            <div class="input-group">
                                                                <input type="number" min="0" max="100" name="quizMarks"
                                                                    id="quizMarks" value="{{setting.quizPassingMark}}"
                                                                    placeholder="Example: 60" class="form-control">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{!-- mid percenteage --}}
                                                        <div class="form-group">
                                                            <label for="quizMarks">Mid Passing Marks</label>
                                                            <div class="input-group">
                                                                <input type="number" min="0" max="100" name="midMarks"
                                                                    id="quizMarks" value="{{setting.midPassingMark}}"
                                                                    placeholder="Example: 60" class="form-control">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{!-- final percenteage --}}
                                                        <div class="form-group">
                                                            <label for="quizMarks">Final Passing Marks</label>
                                                            <div class="input-group">
                                                                <input type="number" min="0" max="100" name="finalMarks"
                                                                    id="quizMarks" value="{{setting.finalPassingMark}}"
                                                                    placeholder="Example: 60" class="form-control">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">%</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- time retake of quiz --}}
                                                <div class="form-group">
                                                    <label>How many retakes can a student have for mid exam?</label>
                                                    <select class="custom-select" name="midRetake">
                                                        <option selected="" disabled="" value="">Select one</option>
                                                        <option value="1" {{#ifEquals setting.midRetake
                                                            1}}selected{{/ifEquals}}>1</option>
                                                        <option value="2" {{#ifEquals setting.midRetake
                                                            2}}selected{{/ifEquals}}>2</option>
                                                        <option value="3" {{#ifEquals setting.midRetake
                                                            3}}selected{{/ifEquals}}>3</option>
                                                        <option value="4" {{#ifEquals setting.midRetake
                                                            4}}selected{{/ifEquals}}>4</option>
                                                        <option value="5" {{#ifEquals setting.midRetake
                                                            5}}selected{{/ifEquals}}>5</option>
                                                        <option value="-1" {{#ifEquals setting.midRetake
                                                            -1}}selected{{/ifEquals}}>unlimited</option>
                                                    </select>
                                                </div>
                                                {{!-- final part --}}
                                                {{!-- time retake of quiz --}}
                                                <div class="form-group">
                                                    <label>How many retakes can a student have for Final exam?</label>
                                                    <select class="custom-select" name="finalRetake">
                                                        <option selected="" disabled="" value="">Select one</option>
                                                        <option value="1" {{#ifEquals setting.finalRetake
                                                            1}}selected{{/ifEquals}}>1</option>
                                                        <option value="2" {{#ifEquals setting.finalRetake
                                                            2}}selected{{/ifEquals}}>2</option>
                                                        <option value="3" {{#ifEquals setting.finalRetake
                                                            3}}selected{{/ifEquals}}>3</option>
                                                        <option value="4" {{#ifEquals setting.finalRetake
                                                            4}}selected{{/ifEquals}}>4</option>
                                                        <option value="5" {{#ifEquals setting.finalRetake
                                                            5}}selected{{/ifEquals}}>5</option>
                                                        <option value="-1" {{#ifEquals setting.finalRetake
                                                            -1}}selected{{/ifEquals}}>unlimited</option>
                                                    </select>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col">
                                                        <label for="midTime">Mid Time</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" name="midTakeTime" id="midTime"
                                                                value="{{setting.midTakeTime}}"
                                                                placeholder="Example: 60" class="form-control">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">Minutes</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="finalTime">Final Time</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" name="finalTakeTime"
                                                                id="finalTime" value="{{setting.finalTakeTime}}"
                                                                placeholder="Example: 60" class="form-control">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">Minutes</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                {{!-- quizzes policy --}}
                                                <div>
                                                    <p class="font-weight-bold mb-0">Quizzes Attempt policy</p>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input custom-control-input-primary"
                                                            type="radio" id="policy1" {{#ifEquals
                                                            setting.quizPolicy "accessAllTime" }}checked{{/ifEquals}}
                                                            value="accessAllTime" name="quizPolicy">
                                                        <label class="font-weight-normal custom-control-label"
                                                            for="policy1">Keep all
                                                            quizzes
                                                            open to be accessed at any
                                                            time
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input custom-control-input-primary"
                                                            type="radio" id="policy2" value="accessPassedPrevious"
                                                            {{#ifEquals setting.quizPolicy "accessPassedPrevious"
                                                            }}checked{{/ifEquals}} name="quizPolicy">
                                                        <label class="font-weight-normal custom-control-label"
                                                            for="policy2">Allow access
                                                            only if previous quiz has been
                                                            passed
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="unlockCourse" id="unlockCourse" {{#if
                                                            setting.unlockCourse }}checked{{/if}}>
                                                        <label for="unlockCourse"
                                                            class="custom-control-label font-weight-normal">Unlock
                                                            Course when previous is completed.</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="randomizeQuestions" id="randomize"
                                                            {{#if setting.randomizeQuestions }}checked{{/if}}>
                                                        <label for="randomize"
                                                            class="custom-control-label font-weight-normal">Randomize
                                                            the questions of Exam(Quiz,Mid & Final)</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="reviewQuiz" id="reviewQuiz" {{#if
                                                            setting.reviewQuiz }}checked{{/if}}>
                                                        <label for="reviewQuiz"
                                                            class="custom-control-label font-weight-normal">Can
                                                            student review their quiz?</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="showAnswer" id="showAnsCheckbox" {{#if
                                                            setting.showAnswer }}checked{{/if}}>
                                                        <label for="showAnsCheckbox"
                                                            class="custom-control-label font-weight-normal">Show Correct
                                                            answers?</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="showFinalDay" id="showFinalTerm"
                                                            {{#ifCond setting.finalDay '>' '-1' }}checked{{/ifCond}}>
                                                        <label for="showFinalTerm"
                                                            class="custom-control-label font-weight-normal">Unlock Final
                                                            Term after days?</label>
                                                    </div>
                                                    <div class="form-group finalDay mt-1">
                                                        <input type="number" min="0" name="finalExamDay"
                                                            id="finalTermDay" value="{{setting.finalDay}}"
                                                            placeholder="Enter No of days" class="form-control">
                                                        <input type="number" min="0" name="finalExamTime"
                                                            value="{{setting.finalTime}}" placeholder="Time in minutes"
                                                            class="form-control mt-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- General Setting -->
                            <div class="col-md-6 mb-4">
                                <div class="card card-primary h-100">
                                    <div class="card-header">
                                        <h3 class="card-title">General Setting</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <!--- Logo  -->
                                                <div class="form-group row align-items-center">
                                                    <div class="col-xl-6">
                                                        <label for="logo">Logo <small>(<b>Size=</b> 1:1)</small></label>
                                                        <div class="input-group">
                                                            <input type="file" name="logo" accept="image/*"
                                                                id="exampleInputFile">
                                                        </div>
                                                    </div>
                                                    {{#if setting.logoPath}}
                                                    <div class="col-xl-6">
                                                        <p class="mb-0 mt-2 d-flex flex-column align-items-center">
                                                            <img src="{{setting.logoPath}}" alt="logo" width="100px">
                                                            <b>Current Uploaded logo</b>
                                                        </p>
                                                    </div>
                                                    {{/if}}
                                                </div>
                                                <!--- College name  -->
                                                <div class="form-group">
                                                    <label for="collegeName">College Name</label>
                                                    <input type="text" class="form-control" id="collegeName"
                                                        placeholder="College Name" value="{{setting.collegeName}}"
                                                        name="name">
                                                </div>
                                                <!--- College address  -->
                                                <div class="form-group">
                                                    <label for="collegeAdd">College Address</label>
                                                    <textarea id="collegeAdd" class="form-control" rows="3"
                                                        placeholder="College Address" spellcheck="false"
                                                        style="height: 102px;"
                                                        name="address">{{setting.collegeAddress}}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone No</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-phone"></i></span>
                                                        </div>
                                                        <input type="text" value="{{setting.collegePhone}}"
                                                            class="form-control"
                                                            data-inputmask='"mask": "(999) 999-9999"' name="phone"
                                                            data-mask>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Payment Setting -->
                            <div class="col-md-6 mb-2">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Payment Setting</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 border mb-2 stripe">
                                                <label for="stripekey" class="m-0 py-2">Stripe</label>
                                                <div class="row border-top">
                                                    <div class="col-12">
                                                        {{!-- secret key--}}
                                                        <div class="form-group">
                                                            <label for="secret">Secret Key</label>
                                                            <textarea name="secretKey" rows="2"
                                                                class="form-control {{#if error.stripe}}border-danger{{/if}}">{{setting.payment.stripe.secret}}</textarea>
                                                            {{#if error.stripe}}<small
                                                                class="text-danger">{{error.stripe}}</small>{{/if}}
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {{!-- public key --}}
                                                        <div class="form-group">
                                                            <label for="stripekey">Public Key</label>
                                                            <textarea name="publicKey" rows="2"
                                                                class="form-control">{{setting.payment.stripe.publicKey}}</textarea>
                                                            <small class="text-danger d-none"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 border {{#if error.paypal}}border-danger{{/if}}">
                                                <label for="paypal" class="m-0 py-2">PayPal</label>
                                                {{#if error.paypal}}<span
                                                    class="m-0 py-2 text-danger float-right">{{error.paypal}}</span>{{/if}}
                                                <div class="row border-top">
                                                    <div class="col-12">
                                                        {{!-- secret key--}}
                                                        <div class="form-group">
                                                            <label for="secret">Client Id</label>
                                                            <textarea name="clientId" rows="2"
                                                                class="form-control">{{setting.payment.paypal.id}}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        {{!-- secret key--}}
                                                        <div class="form-group">
                                                            <label for="clientKey">Client Secret</label>
                                                            <textarea name="clientSecret" rows="2"
                                                                class="form-control">{{setting.payment.paypal.secret}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mail Setting -->
                            <div class="col-md-6 mb-2">
                                <div class="card card-gray">
                                    <div class="card-header">
                                        <h3 class="card-title">Mail Setting</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                                title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        {{!-- mail email --}}
                                                        <div class="form-group">
                                                            <label for="host">Host</label>
                                                            <input type="text" name="host" id="host"
                                                                value="{{setting.mail.host}}" placeholder="Host"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        {{!-- mail port --}}
                                                        <div class="form-group">
                                                            <label for="port">Port</label>
                                                            <input type="number" min="0" name="port" id="port"
                                                                value="{{setting.mail.port}}" placeholder="Port"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input type="text" name="user" id="user"
                                                        value="{{setting.mail.user}}" placeholder="Username"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="text" name="password" id="user"
                                                        value="{{setting.mail.pass}}" placeholder="Password"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary float-right">{{#if
                                            setting}}Update{{else}}Save{{/if}}</button>
                                    </div>
                                </div>
                            </div>
                            {{/ifEquals}}
                            {{!-- for student and guest user --}}
                            {{#ifEquals user.role "guest" or='student'}}
                            <div class="col-md-6 mb-2">
                                <div class="card card-primary h-100 mb-0">
                                    <div class="card-header">
                                        <h3 class="card-title">General Setting</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <!--- Logo  -->
                                                <div class="d-flex justify-content-between">
                                                    <div class="form-group">
                                                        <label for="avatar">Avatar <small>(<b>Size=</b>
                                                                1:1)</small></label>
                                                        <div class="input-group">
                                                            <input type="file" name="avatar" accept="image/*"
                                                                id="avatar" />
                                                        </div>
                                                        {{#if setting}}
                                                        <p class="mb-0 mt-2">
                                                            <b>
                                                                <a href="{{setting.logoPath}}"
                                                                    class="font-weight-normal" target="_blank">Current
                                                                    Uploaded logo
                                                                    <i class="fa-solid fa-image mr-1"></i>
                                                                </a>
                                                            </b>
                                                        </p>
                                                        {{/if}}
                                                    </div>
                                                    {{#if editUser.avatar}}
                                                    <div class="col-2 text-center">
                                                        <input type="hidden" id="hiddenField"
                                                            value="{{editUser.avatar}}" name="hiddenImg">
                                                        <img src="data:image/jpg;base64,{{editUser.avatar}}"
                                                            alt="user-avatar" id="rmImg" class="img-circle img-fluid">
                                                        <p type="button" id="removeBtn" class="fa-2xs mt-3 text-danger"
                                                            style="text-decoration: underline;">Remove Image</p>
                                                    </div>
                                                    {{else}}
                                                    <div class="col-2 text-center">
                                                        <img src="https://ui-avatars.com/api/?name={{editUser.name}}&size=256"
                                                            alt="user-avatar" class="img-circle img-fluid">
                                                    </div>
                                                    {{/if}}
                                                </div>
                                                <!--- name  -->
                                                <div class="form-group">
                                                    <label for="name">Full Name</label>
                                                    <input type="text" class="form-control" id="name"
                                                        placeholder="College Name" value="{{editUser.name}}"
                                                        name="name">
                                                </div>
                                                <!--- driver license  -->
                                                <div class="form-group">
                                                    <label for="collegeName">Driver License / CA ID Number</label>
                                                    <input type="text"
                                                        class="form-control {{#checkError err.driver_license}}is-invalid{{/checkError}}"
                                                        id="collegeName" placeholder="Enter License"
                                                        value="{{editUser.driver_license}}" name="driver_license">
                                                    <span class="license-error invalid-feedback">
                                                        {{err.driver_license}}
                                                    </span>
                                                </div>
                                                <!--- dob  -->
                                                <div class="form-group">
                                                    <label for="dob">Date of Birth</label>
                                                    <input type="date"
                                                        class="form-control {{#checkError err.dob}}is-invalid{{/checkError}}"
                                                        id="dob" value="{{dateFormat editUser.dob}}" name="dob">
                                                    <span class="license-error invalid-feedback">
                                                        {{err.dob}}
                                                    </span>
                                                </div>
                                                {{!-- password --}}
                                                <div class="form-group">
                                                    <label for="currentPassword">Current Password</label>
                                                    <input type="password"
                                                        class="form-control {{#checkError err.currentPassword}}is-invalid{{/checkError}}"
                                                        id="currentPassword" placeholder="Enter Current Password"
                                                        name="currentPassword">
                                                    <span class="license-error invalid-feedback">
                                                        {{err.currentPassword}}
                                                    </span>
                                                </div>
                                                {{!-- new password --}}
                                                <div class="form-group">
                                                    <label for="password">New Password</label>
                                                    <input type="password"
                                                        class="form-control pass {{#checkError err.newPass}}is-invalid{{/checkError}}"
                                                        id="password" placeholder="Enter New Password" name="newPass">
                                                    <span class="license-error invalid-feedback">
                                                        {{err.newPass}}
                                                    </span>
                                                </div>
                                                {{!-- confirm new password --}}
                                                <div class="form-group">
                                                    <label for="c_password">Confirm new Password</label>
                                                    <input type="password"
                                                        class="form-control pass {{#checkError err.newPassConfirm}}is-invalid{{/checkError}}"
                                                        id="c_password" placeholder="Confirm your new Password"
                                                        name="newPassConfirm">
                                                    <span class="license-error invalid-feedback">
                                                        {{err.newPassConfirm}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary float-right">{{#if
                                            setting}}Update{{else}}Save{{/if}}</button>
                                    </div>
                                </div>
                            </div>
                            {{/ifEquals}}
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {{>dashboardfooter}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    {{!-- footer links --}}
    {{>dashboardfooterlinks}}
    {{!--for form validations --}}
    <script src="/js/form-validations.js"></script>
    <!-- InputMask -->
    <script src="/dashboard/plugins/moment/moment.min.js"></script>
    <script src="/dashboard/plugins/inputmask/jquery.inputmask.min.js"></script>
    {{#ifEquals user.role 'admin'}}
    {{!-- specific script for this page to remove user image --}}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        let form = document.getElementById('validFrom')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let submitBtn = e.target.querySelector('button[type="submit"]')
            let submitText = submitBtn.innerText
            let publicKey = e.target.querySelector('[name=publicKey]')
            submitBtn.setAttribute('disabled', true)
            submitBtn.textContent = 'Submitting'
            let data = new FormData(form)
            const pk = data.get('publicKey')
            let stripe = Stripe(pk);
            stripe.createToken('pii', { personal_id_number: 'test' })
                .then(result => {
                    if (result.token) {
                        form.submit()
                    } else {
                        submitBtn.removeAttribute('disabled')
                        submitBtn.textContent = submitText
                        publicKey.classList.add('border-danger')
                        publicKey.nextElementSibling.classList.remove('d-none')
                        publicKey.nextElementSibling.textContent = 'Invalid Public Key'
                    }
                })

        })
    </script>
    {{/ifEquals}}
    <script>
        $(document).ready(function () {
            $('[data-mask]').inputmask()
            $("#removeBtn").click(function () {
                $("#rmImg").attr("src", "")
                $("#hiddenField").attr("value", "")
            })
            if ($("#reviewQuiz").prop("checked")) {
                $("#showAnsCheckbox").prop("disabled", false)
                $("#showAnsCheckbox").parent().animate({ opacity: "1" })
            } else {
                $("#showAnsCheckbox").prop("disabled", true)
                $("#showAnsCheckbox").parent().animate({ opacity: "0", height: 'toggle' })
            }
            $("#reviewQuiz").change(function () {
                if ($(this).prop("checked")) {
                    $("#showAnsCheckbox").prop("disabled", false)
                    $("#showAnsCheckbox").parent().animate({ opacity: "1", height: "toggle" })
                } else {
                    $("#showAnsCheckbox").prop("disabled", true)
                    $("#showAnsCheckbox").prop("checked", false)
                    $("#showAnsCheckbox").parent().animate({ opacity: "0", height: 'toggle' })
                }
            })
            if ($("#showFinalTerm").prop("checked")) {
                $("#finalTermDay").prop("required", true)
                $("#finalTermDay").parent().animate({ opacity: "1" })
                $("#finalTermDay").prop("min", "0")
                $("[name=finalExamTime]").prop("min", "0")
            } else {
                finalInput(false)
            }
            $("#showFinalTerm").change(function () {
                finalInput($(this).prop("checked"))
            })
            function finalInput(show) {
                if (show) {
                    $("#finalTermDay").prop("required", true)
                    $("#finalTermDay").parent().animate({ opacity: "1", height: "toggle" })
                    $("#finalTermDay").prop("min", "0")
                    $("[name=finalExamTime]").prop("min", "0")
                } else {
                    $("#finalTermDay").prop("required", false)
                    $("#finalTermDay").prop("min", "")
                    $("[name=finalExamTime]").prop("min", "")
                    $("#finalTermDay").prop("checked", false)
                    $("#finalTermDay").parent().animate({ opacity: "0", height: 'toggle' })
                }
            }

        })
    </script>

</body>

</html>