{{>dashboardheader}}

<head>
    <link rel="stylesheet" href="/dashboard/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css"
        integrity="sha512-8vq2g5nHE062j3xor4XxPeZiPjmRDh6wlufQlfC6pdQ/9urJkU07NM0tEREeymP++NczacJ/Q59ul+/K2eYvcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="hold-transition sidebar-mini">
    <!-- toast(alert)-->
    {{>alert}}
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Setting</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Setting</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="container-fluid">
                    <form action="setting" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="id" value="{{setting._id}}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-cyan h-100 mb-0">
                                    <div class="card-header">
                                        <h3 class="card-title">Application Setting</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                {{!-- quiz percenteage --}}
                                                <div class="form-group">
                                                    <label for="quizMarks">Passing Marks<small>(Default passing
                                                            percent
                                                            is 60)</small></label>
                                                    <div class="input-group">
                                                        <input type="number" min="0" max="100" name="quizMarks"
                                                            id="quizMarks" value="{{setting.passingMark}}"
                                                            placeholder="Example: 60" class="form-control">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">%</span>
                                                        </div>
                                                    </div>

                                                </div>
                                                {{!-- time retake of quiz --}}
                                                <div class="form-group">
                                                    <label>How many retakes can a student have for mid exam?</label>
                                                    <select class="custom-select" name="midRetake">
                                                        <option selected="" disabled="" value="">Select one</option>
                                                        <option value="1" {{#ifEquals setting.midRetake
                                                            1}}selected{{/ifEquals}}>1</option>
                                                        <option value="2" {{#ifEquals setting.midRetake
                                                            2}}selected{{/ifEquals}}>2</option>
                                                        <option value="3" {{#ifEquals setting.midRetake
                                                            3}}selected{{/ifEquals}}>3</option>
                                                        <option value="4" {{#ifEquals setting.midRetake
                                                            4}}selected{{/ifEquals}}>4</option>
                                                        <option value="5" {{#ifEquals setting.midRetake
                                                            5}}selected{{/ifEquals}}>5</option>
                                                        <option value="-1" {{#ifEquals setting.midRetake
                                                            -1}}selected{{/ifEquals}}>unlimited</option>
                                                    </select>
                                                </div>
                                                {{!-- final part --}}
                                                {{!-- time retake of quiz --}}
                                                <div class="form-group">
                                                    <label>How many retakes can a student have for Final exam?</label>
                                                    <select class="custom-select" name="finalRetake">
                                                        <option selected="" disabled="" value="">Select one</option>
                                                        <option value="1" {{#ifEquals setting.finalRetake
                                                            1}}selected{{/ifEquals}}>1</option>
                                                        <option value="2" {{#ifEquals setting.finalRetake
                                                            2}}selected{{/ifEquals}}>2</option>
                                                        <option value="3" {{#ifEquals setting.finalRetake
                                                            3}}selected{{/ifEquals}}>3</option>
                                                        <option value="4" {{#ifEquals setting.finalRetake
                                                            4}}selected{{/ifEquals}}>4</option>
                                                        <option value="5" {{#ifEquals setting.finalRetake
                                                            5}}selected{{/ifEquals}}>5</option>
                                                        <option value="-1" {{#ifEquals setting.finalRetake
                                                            -1}}selected{{/ifEquals}}>unlimited</option>
                                                    </select>
                                                </div>


                                                {{!-- quizzes policy --}}
                                                <div>
                                                    <p class="font-weight-bold">Quizzes Attempt policy</p>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input custom-control-input-primary"
                                                            type="radio" id="policy1" {{#ifEquals
                                                            setting.quizPolicy "accessAllTime" }}checked{{/ifEquals}}
                                                            value="accessAllTime" name="quizPolicy">
                                                        <label class="font-weight-normal custom-control-label"
                                                            for="policy1">Keep all
                                                            quizzes
                                                            open to be accessed at any
                                                            time
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input custom-control-input-primary"
                                                            type="radio" id="policy2" value="accessPassedPrevious"
                                                            {{#ifEquals setting.quizPolicy "accessPassedPrevious"
                                                            }}checked{{/ifEquals}} name="quizPolicy">
                                                        <label class="font-weight-normal custom-control-label"
                                                            for="policy2">Allow access
                                                            only if previous quiz has been
                                                            passed
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-primary custom-control-input"
                                                            type="checkbox" name="reviewQuiz" id="customCheckbox5" {{#if
                                                            setting.reviewQuiz }}checked{{/if}}>
                                                        <label for="customCheckbox5"
                                                            class="custom-control-label font-weight-normal">Can
                                                            student review their quiz?</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-primary h-100 mb-0">
                                    <div class="card-header">
                                        <h3 class="card-title">General Setting</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <!--- Logo  -->
                                                <div class="form-group">
                                                    <label for="logo">Logo <small>(<b>Size=</b> 1:1)</small></label>
                                                    <div class="input-group">
                                                        <input type="file" name="logo" accept="image/*" id="exampleInputFile">
                                                    </div>
                                                    {{#if setting}}
                                                    <p class="mb-0 mt-2">
                                                        <b>
                                                            <a href="{{setting.logoPath}}" class="font-weight-normal"
                                                                target="_blank">Already
                                                                Uploaded logo
                                                                <i class="fa-solid fa-image mr-1"></i>
                                                            </a>
                                                        </b>
                                                    </p>
                                                    {{/if}}
                                                </div>
                                                <!--- College name  -->
                                                <div class="form-group">
                                                    <label for="collegeName">College Name</label>
                                                    <input type="text" class="form-control" id="collegeName"
                                                        placeholder="College Name" value="{{setting.collegeName}}"
                                                        name="name">
                                                </div>
                                                <!--- College address  -->
                                                <div class="form-group">
                                                    <label for="collegeAdd">College Address</label>
                                                    <textarea id="collegeAdd" class="form-control" rows="3"
                                                        placeholder="College Address" spellcheck="false"
                                                        style="height: 102px;"
                                                        name="address">{{setting.collegeAddress}}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone No</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fas fa-phone"></i></span>
                                                        </div>
                                                        <input type="text" value="{{setting.collegePhone}}"
                                                            class="form-control"
                                                            data-inputmask='"mask": "(999) 999-9999"' name="phone"
                                                            data-mask>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary float-right">{{#if
                                            setting}}Update{{else}}Save{{/if}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {{>dashboardfooter}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    {{!-- footer links --}}
    {{>dashboardfooterlinks}}
    <!-- Select2 -->
    <script src="/dashboard/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="/dashboard/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="/dashboard/plugins/moment/moment.min.js"></script>
    <script src="/dashboard/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <!-- date-range-picker -->
    <script src="/dashboard/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="/dashboard/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- dropzonejs -->
    <script src="/dashboard/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
            })

            //Money Euro
            $('[data-mask]').inputmask()

            // quiz picker
            $('#finalexamreservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            $('input[data-bootstrap-switch]').each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'))
            })



        })


    </script>

</body>

</html>