{{>dashboardheader}}

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    {{>dashboardNavbar}}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {{>dashboardMainSidebar}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Add Course</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Add Course</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <form action="add-course" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">General</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputName">Course Name</label>
                    <input type="text" id="inputName" name="name" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Course Description</label>
                    <textarea id="inputDescription" name="description" class="form-control" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Status</label>
                    <select id="inputStatus" name="status" class="form-control custom-select">
                      <option selected disabled value="">Select one</option>
                      <option value="draft">Draft</option>
                      <option value="publish">Publish</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" min="0" id="price" name="price" class="form-control">
                  </div>
                  {{!-- <div class="form-group">
                    <label for="inputStatus">Add Packages</label>
                    <select required id="inputStatus" name="package" class="form-control custom-select">
                      <option selected disabled value="">Select one</option>
                      {{#each packages}}
                      <option value="{{this.name}}">{{this.name}}</option>
                      {{/each}}
                    </select>
                  </div> --}}
                   <div class="form-group">
                    <label>Add to Package</label>
                    {{#each packages}}
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input custom-control-input-success custom-control-input-outline"
                        value="{{this.name}}" type="checkbox" name="package" id="{{this.name}}">
                      <label for="{{this.name}}" class="custom-control-label">{{this.name}}</label>
                    </div>
                    {{/each}}
                  </div>
                  {{!-- price --}}
                  {{!-- <div class="form-group">
                    <label for="price">Package Price</label>
                    <input type="number" id="price" name="price" class="form-control">
                  </div> --}}
                </div>
                <div class="card-footer">
                 <button type="reset" class="btn btn-secondary">Cancel</button>
              <button type="submit" class="btn btn-success float-right">Create Course</button>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </form>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {{>dashboardfooter}}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  {{>dashboardfooterlinks}}
</body>

</html>