{{>dashboardheader}}

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}
        {{!-- toast --}}
        {{>alert}}


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>{{#ifEquals user.role "admin"}}Courses Detail{{else}}All Courses{{/ifEquals}}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Courses Detail</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                {{!-- <div class="card-header">
                                    <h3 class="card-title">DataTable with minimal features & hover style</h3>
                                </div> --}}
                                <!-- /.card-header -->
                                <div class="card-body">
                                    {{#ifEquals user.role "admin"}}
                                    <table id="courseTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Package</th>
                                                <th>Status</th>
                                                <th>Price</th>
                                                <th>Purchase Link</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each allCourses}}
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>
                                                    {{#each this.package}}
                                                    <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
                                                    {{/each}}
                                                </td>
                                                <td>{{this.status}}</td>
                                                <td>{{this.price}}</td>
                                                <td>{{#ifEquals this.status 'publish'}}
                                                    <a href="/checkout?course={{this._id}}"><span
                                                            class="domainName"></span>/checkout?course={{this._id}}</a>{{else}}
                                                    Publish the course to see the link.
                                                    {{/ifEquals}}
                                                </td>
                                                <td>
                                                    <a href="/dashboard/course-detail/edit-course?cId={{this._id}}"
                                                        type="button">
                                                        <button class="btn btn-primary">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        {{!-- <tfoot>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                                <th>Engine version</th>
                                                <th>CSS grade</th>
                                            </tr>
                                        </tfoot> --}}
                                    </table>
                                    {{/ifEquals}}
                                    {{!-- regulator --}}
                                    {{#ifEquals user.role "regulator"}}
                                    <table id="courseTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 65px;">S.No</th>
                                                <th>Name</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each userCourses}}
                                            <tr>
                                                <td>{{increment @index}}</td>
                                                <td class="text-capitalize">
                                                    <a
                                                        href="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}">{{this.name}}</a>
                                                </td>
                                                <td>
                                                    <a href="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        class="text-muted">
                                                        <i class="fas fa-book"></i> View Course
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        {{!-- <tfoot>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                                <th>Engine version</th>
                                                <th>CSS grade</th>
                                            </tr>
                                        </tfoot> --}}
                                    </table>
                                    {{/ifEquals}}

                                    {{!-- student --}}
                                    {{#ifEquals user.role "student"}}
                                    <table id="courseTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Progress</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#if userCourses}}
                                            {{#each userCourses}}
                                            <tr class="{{#unless this.unlock}}event-none{{/unless}}">
                                                <td class="text-capitalize">
                                                    {{#unless started}}
                                                    <button type="button" class="btn p-0 text-blue" id="start" {{#if
                                                        this.unlock}}data-toggle="modal" data-target="#modal-default"
                                                        data-banner="/images/course/{{this.banner}}"
                                                        data-link="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}" {{/if}}>
                                                        {{this.name}}
                                                    </button>
                                                    {{else}}
                                                    <a class="text-capitalize" {{#if
                                                        this.unlock}}href="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        {{else}} href="#" {{/if}}>{{this.name}}</a>
                                                    {{/unless}}
                                                </td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar progress-bar-danger"
                                                            style="width: {{lookup ../progress this.name}}%"></div>
                                                    </div>
                                                    {{#if (lookup ../progress this.name)}}{{lookup ../progress
                                                    this.name}}{{else}}0{{/if}}%
                                                </td>
                                                <td>
                                                    {{#unless started}}
                                                    <button type="button" class="btn p-0 text-muted" id="start" {{#if
                                                        this.unlock}}data-toggle="modal" data-target="#modal-default"
                                                        data-link="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        data-banner="/images/course/{{this.banner}}" {{/if}}>
                                                        {{#unless this.unlock}}
                                                        <i class="fa-solid fa-lock"></i>
                                                        {{else}}
                                                        <i class="fas fa-book"></i> View Course
                                                        {{/unless}}
                                                    </button>
                                                    {{else}}
                                                    <a {{#if
                                                        this.unlock}}href="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        {{else}} href="#" {{/if}} class="text-muted">
                                                        {{#unless this.unlock}}
                                                        <i class="fa-solid fa-lock"></i>
                                                        {{else}}
                                                        <i class="fas fa-book"></i> View Course
                                                        {{/unless}}
                                                    </a>
                                                    {{/unless}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                            {{/if}}
                                            {{#if user.salesperson}}
                                            <tr>
                                                <td colspan="2"><a class="text-capitalize" target="_blank"
                                                        href="/dashboard/salesperson/">Salesperson</a></td>
                                                <td><a target="_blank" href="/dashboard/salesperson/"
                                                        class="text-muted">
                                                        <i class="fa-solid fa-book"></i> View Course
                                                    </a></td>
                                            </tr>
                                            {{/if}}
                                            {{#ifCond user.salesperson '||' userCourses.length}}
                                            {{else}}
                                            <tr>
                                                <td colspan="3">No courses found.</td>
                                            </tr>
                                            {{/ifCond}}
                                        </tbody>
                                    </table>
                                    {{!-- Agreement Modal --}}
                                    <style>
                                        .courseModal .modal-dialog {
                                            height: calc(100vh - 80px);
                                            max-width: 100%;
                                        }

                                        .courseModal .modal-body {
                                            background: url('/images/real_estate_principles.jpg') no-repeat center;
                                            background-size: contain;
                                        }

                                        .courseModal .btn {
                                            width: 90px;
                                        }
                                    </style>
                                    <div class="modal fade courseModal" id="modal-default" style="display: none;"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content h-100 shadow-none bg-transparent border-0">
                                                <div
                                                    class="modal-body d-flex justify-content-center align-items-center">
                                                    <button id="yes-start" href="#" class="btn btn-primary"
                                                        data-toggle="modal" data-target="#agreement">Begin</button>
                                                    <button type="button" class="btn btn-danger ml-2"
                                                        data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade agreement" id="agreement" style="display: none;"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content h-100">
                                                <div class="modal-body">
                                                    <h5 class="m-0 mb-4 text-center fa-2x font-weight-bold">Student
                                                        Agreement</h5>
                                                    <p class="m-0">Name: <span class="text-bold">{{user.name}}</span>
                                                    </p>
                                                    <p class="m-0 mb-4">Email: <span
                                                            class="text-bold">{{user.email}}</span></p>
                                                    <p>You must complete and submit the following student agreement form
                                                        before you can proceed with
                                                        your course(s).</p>
                                                    <p>I, {{user.name}}, under penalty of perjury, do hereby affirm and
                                                        agree that I am registered
                                                        student
                                                        of {{site_Title}}, and that I will personally complete each
                                                        reading assignment, quiz and the
                                                        final examination of the course(s). I understand that my failure
                                                        to comply with this agreement
                                                        will result in revocation of completion certificate, and that
                                                        such violation will be reported to
                                                        my local estate industry regulatory authorities.</p>
                                                    <p>Furthermore, I understand that the contents of the course(s) may
                                                        not be copied, reproduced,
                                                        resold or used by any other person. Unauthorized copying of this
                                                        course is prohibited by U.S
                                                        copyright laws which provide substantial penalties for copyright
                                                        infringement.</p>
                                                    <p style="margin-bottom: 60px;">By submitting this form I agree to
                                                        comply with the terms, conditions
                                                        and copyright restrictions
                                                        as stated herein.</p>
                                                    <p class="text-center">

                                                        <a id="accept" href="#" class="btn btn-primary">Accept</a>
                                                    </p>
                                                    <p class="text-center" style="margin-top:60px">Sponsor ID: S0665,
                                                        8505 Crenshaw Blvd Inglewood CA
                                                        91305</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/ifEquals}}
                                    {{!-- GUEST --}}
                                    {{#ifEquals user.role "guest"}}
                                    <table id="courseTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Progress</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each userCourses}}
                                            <tr class="{{#unless this.unlock}}event-none{{/unless}}">
                                                <td class="text-capitalize">
                                                    {{#unless started}}
                                                    <button type="button" class="btn p-0 text-blue" id="start" {{#if
                                                        this.unlock}}data-toggle="modal" data-target="#modal-default"
                                                        data-banner="/images/course/{{this.banner}}"
                                                        data-link="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}" {{/if}}>
                                                        {{this.name}}
                                                    </button>
                                                    {{else}}
                                                    <a class="text-capitalize" {{#if
                                                        this.unlock}}href="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        {{else}} href="#" {{/if}}>{{this.name}}</a>
                                                    {{/unless}}
                                                </td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar progress-bar-danger"
                                                            style="width: {{lookup ../progress this.name}}%"></div>
                                                    </div>
                                                    {{#if (lookup ../progress this.name)}}{{lookup ../progress
                                                    this.name}}{{else}}0{{/if}}%
                                                </td>
                                                <td>
                                                    {{#unless started}}
                                                    <button type="button" class="btn p-0 text-muted" id="start" {{#if
                                                        this.unlock}}data-toggle="modal" data-target="#modal-default"
                                                        data-link="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        data-banner="/images/course/{{this.banner}}" {{/if}}>
                                                        {{#unless this.unlock}}
                                                        <i class="fa-solid fa-lock"></i>
                                                        {{else}}
                                                        <i class="fas fa-book"></i> View Course
                                                        {{/unless}}
                                                    </button>
                                                    {{else}}
                                                    <a {{#if
                                                        this.unlock}}href="/dashboard/view-chapter/{{this._id}}/{{this.chapters.[0]}}"
                                                        {{else}} href="#" {{/if}} class="text-muted">
                                                        {{#unless this.unlock}}
                                                        <i class="fa-solid fa-lock"></i>
                                                        {{else}}
                                                        <i class="fas fa-book"></i> View Course
                                                        {{/unless}}
                                                    </a>
                                                    {{/unless}}
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    {{!-- Agreement Modal --}}
                                    <style>
                                        .courseModal .modal-dialog {
                                            height: calc(100vh - 80px);
                                            max-width: 100%;
                                        }

                                        .courseModal .modal-body {
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                        }

                                        .courseModal .btn {
                                            width: 90px;
                                        }
                                    </style>
                                    <div class="modal fade courseModal" id="modal-default" style="display: none;"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content h-100 shadow-none bg-transparent border-0">
                                                <div
                                                    class="modal-body d-flex justify-content-center align-items-center">
                                                    <button id="yes-start" href="#" class="btn btn-primary"
                                                        data-toggle="modal" data-target="#agreement">Begin</button>
                                                    <button type="button" class="btn btn-danger ml-2"
                                                        data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade agreement" id="agreement" style="display: none;"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content h-100">
                                                <div class="modal-body">
                                                    <h5 class="m-0 mb-4 text-center fa-2x font-weight-bold">Student
                                                        Agreement</h5>
                                                    <p class="m-0">Name: <span class="text-bold">{{user.name}}</span>
                                                    </p>
                                                    <p class="m-0 mb-4">Email: <span
                                                            class="text-bold">{{user.email}}</span></p>
                                                    <p>You must complete and submit the following student agreement form
                                                        before you can proceed with
                                                        your course(s).</p>
                                                    <p>I, {{user.name}}, under penalty of perjury, do hereby affirm and
                                                        agree that I am registered
                                                        student
                                                        of {{site_Title}}, and that I will personally complete each
                                                        reading assignment, quiz and the
                                                        final examination of the course(s). I understand that my failure
                                                        to comply with this agreement
                                                        will result in revocation of completion certificate, and that
                                                        such violation will be reported to
                                                        my local estate industry regulatory authorities.</p>
                                                    <p>Furthermore, I understand that the contents of the course(s) may
                                                        not be copied, reproduced,
                                                        resold or used by any other person. Unauthorized copying of this
                                                        course is prohibited by U.S
                                                        copyright laws which provide substantial penalties for copyright
                                                        infringement.</p>
                                                    <p style="margin-bottom: 60px;">By submitting this form I agree to
                                                        comply with the terms, conditions
                                                        and copyright restrictions
                                                        as stated herein.</p>
                                                    <p class="text-center">

                                                        <a id="accept" href="#" class="btn btn-primary">Accept</a>
                                                    </p>
                                                    <p class="text-center" style="margin-top:60px">Sponsor ID: S0665,
                                                        8505 Crenshaw Blvd Inglewood CA
                                                        91305</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/ifEquals}}
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {{>dashboardfooter}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    {{!-- table jquery plugins --}}
    <!-- DataTables  & Plugins -->
    <script src="../dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../dashboard/plugins/jszip/jszip.min.js"></script>
    <script src="../dashboard/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../dashboard/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../dashboard/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../dashboard/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $('#courseTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script>
        $("#modal-default").on("show.bs.modal", function (e) {
            let link = $(e.relatedTarget).data('link')
            let banner = $(e.relatedTarget).data('banner')
            $(this).find('.modal-body').css('background', `url('${banner}') no-repeat center`)
            $(this).find('#yes-start').data('link', link)
        });
        $("#agreement").on('show.bs.modal', function (e) {
            $("#modal-default").modal("hide");
            let link = $(e.relatedTarget).data('link')
            $(this).find('#accept').prop('href', link + "?agree=true")
        });
    </script>
    <script>
        let fullUrl = new URL(window.location)
        const domainName = fullUrl.origin
        $(".domainName").text(domainName)
    </script>

</body>

</html>